{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% block css %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
        <link href="{% static 'css/user.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block header %}
    {% include "header.html" %}
{% endblock %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>