{% extends "base.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Мои заметки</h3>
        </div>

        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название заметки</th>
                    <th>Дата добавления</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="{% url 'product' %}">Список покупок</a></td>
                    <td>25.11.2014</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Планы на завтра</td>
                    <td>24.11.2014</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Книги, которые стоит прочесть</td>
                    <td>20.11.2014</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
