{% extends "courses/base.html" %}
{% block title %}{{ block.super }}List{% endblock %}


{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Technology</th>
            <th>Coach</th>
            <th>Assistant</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'course_info' course.id %}">
                    {{ course.name }}</a>
                </td>
                <td>{{ course.get_technology_display }}</td>
                <td>

                        {{ course.coach }}

                </td>

                <td>
                    {% if course.assistant %}

                            {{ course.assistant }}

                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>{{ course.start_date }}</td>
                <td>{{ course.end_date }}</td>
                <td>
                    <a href="{% url 'course_edit' course.id %}">
                        edit<br>
                    </a>
                </td>
                <td>
                    <a href="{% url 'course_delete' course.id %}">
                        delete<br>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'course_new' %}">
        add new<br>
    </a>
{% endblock %}